.HomeComponent {
  background-color: rgb(231, 230, 230);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WelcomeSection {
  width: 100%;
  height: 70vh;
  background: linear-gradient(to left, rgb(83, 83, 83), rgb(51, 51, 51));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.HomeBookSection {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: calc(60vh + 150px);
  margin-bottom: 20px;
}

.BooksItems {
  display: flex;
  align-items: center;
}

.Link {
  margin-bottom: 100px;
}

@media (max-width: 700px) {
  .nav h1,
  .nav-elements a,
  .welcome-section {
    font-size: 20px;
  }
  .nav-elements {
    width: 300px;
  }
  .books-items {
    display: block;
  }
  .home-book-section {
    height: 100%;
  }
}
