body {
  background-color: rgb(231, 230, 230);
}

.BooksList {
  margin-top: 40px;
  margin-inline: auto;
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.ButtonMargin {
  width: 50px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #00cc99bd;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
  cursor: pointer;
}

.ButtonMiddle {
  width: 120px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #00cc99bd;
  border-width: 0;
  margin-inline: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
  cursor: pointer;
}

.ButtonMiddle:active,
.ButtonMargin:active {
  box-shadow: none;
  transition: 0.2s;
}

.LoadingScreenText {
  display: flex;

  align-items: center;
  justify-content: space-around;
  color: #9880ff;
  width: 100%;
  height: 70vh;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.LoadingScreen {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotElastic 1s infinite linear;
}

.LoadingScreen::before,
.LoadingScreen::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.LoadingScreen::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotElasticBefore 1s infinite linear;
}

.LoadingScreen::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotElasticAfter 1s infinite linear;
}

.StockOut {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 25px;
  margin-left: 20px;
  padding: 20px;
  font-weight: bold;
  border-radius: 20px;
  background-color: red;
  cursor: default;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.MiddleButtons {
  display: flex;
}

.NoBooks {
  padding-top: 100px;
  height: 100%;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
}

.OffersComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Pagination {
  display: flex;
  width: 80%;
  height: 40px;
  padding-block: 40px;
  justify-content: space-between;
  align-self: center;
}

.PageNumber {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  padding-inline: 20px;
  background-color: #00cc9948;
  border-radius: 15px;
}

.SearchBar {
  display: flex;
  justify-content: center;
  padding-block: 20px;
}

.SearchInput {
  padding-left: 20px;
  height: 40px;
  font-size: 18px;
  margin-right: 20px;
  width: 500px;
  border-radius: 10px;
  border-width: 0;
  transition: 1s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}

.SearchInput:focus {
  outline: none;
  transition: 2s;
}

.SearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 10px;
  border-width: 0;
  font-weight: bold;
  font-size: 20px;
  background-color: #00cc99bd;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}

.SearchButton:active {
  box-shadow: none;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .Button {
    width: 100px;
    font-size: 90%;
  }
  .PageNumber {
    font-size: 90%;
    padding-inline: 0;
  }
  /* .ButtonMiddle {
    width: 40%;
    padding-inline: 10;
  } */
}

@media (max-width: 900px) {
  .BooksList {
    grid-template-columns: repeat(3, 3fr);
  }
}

@media (max-width: 700px) {
  .BooksList {
    grid-template-columns: repeat(2, 3fr);
    width: 96%;
    margin-inline: 0;
  }
  .ButtonMiddle {
    width: 40%;
    padding-inline: 10;
  }
}
